button {
  outline: none;
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
}
button:hover,
button:active,
button:focus {
  outline: none;
  box-shadow: none;
  cursor: pointer;
}
.btn {
  display: inline-block;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  border: none;
  overflow: visible;
  text-transform: none;
  box-sizing: border-box;
  padding: 0 30px;
  vertical-align: middle;
  font-size: 13px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  transition: all 300ms ease-in-out;
  background-color: #fff;
  color: #777;
  touch-action: manipulation;
  font-weight: 400;
  outline: none;
  box-shadow: none;
}
.btn:hover {
  background: #fff;
  color: #333;
  outline: none;
  box-shadow: none;
}
.btn:active:focus {
  outline: none !important;
  box-shadow: none !important;
}
.btn:active,
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}
.btn:active:hover,
.btn:focus:hover {
  outline: none !important;
  box-shadow: none !important;
}
.btn:disabled,
.btn.disabled {
  pointer-events: none;
  cursor: not-allowed;
  outline: none;
  opacity: 1;
  background: #f8f8f8 !important;
  color: #c1c1c1 !important;
}
.btn:disabled .btn__spinner,
.btn.disabled .btn__spinner {
  border-color: #f8f8f8 !important;
  border-top-color: #00b074 !important;
}
.btn.btn--mini {
  min-height: 18px;
  padding: 0 8px;
  line-height: 18px;
  font-size: 8px;
  font-weight: 600;
}
.btn.btn--mini.btn--circle {
  width: 18px;
  height: 18px;
}
.btn.btn--mini.btn--square {
  width: 18px;
  height: 18px;
}
.btn.btn--mini.btn--square .btn__icon svg {
  width: 9px;
  height: 9px;
}
.btn.btn--mini .btn__icon {
  margin-left: 0;
}
.btn.btn--ssm {
  min-height: 25px;
  padding: 0 10px;
  line-height: 25px;
  font-size: 10px;
  font-weight: 600;
}
.btn.btn--ssm.btn--circle {
  width: 25px;
  height: 25px;
}
.btn.btn--ssm.btn--square {
  width: 25px;
  height: 25px;
}
.btn.btn--ssm.btn--square .btn__icon svg {
  width: 12px;
  height: 12px;
}
.btn.btn--ssm .btn__icon {
  margin-left: 0;
}
.btn.btn--sm {
  min-height: 30px;
  padding: 0 15px;
  line-height: 30px;
  font-size: 11px;
  font-weight: 400;
}
.btn.btn--sm.btn--circle {
  width: 30px;
  height: 30px;
}
.btn.btn--sm.btn--square {
  width: 30px;
  height: 30px;
}
.btn.btn--sm .btn__icon {
  margin-left: 0;
  width: 13px;
}
.btn.btn--white {
  background: #fff;
  color: #666;
  fill: #666;
}
.btn.btn--white:hover {
  background: #ebebeb;
  color: #333;
  fill: #333;
}
.btn.btn--primary {
  background: #00b074;
  color: #fff;
}
.btn.btn--primary:hover {
  color: #fff;
}
.btn.btn--primary:disabled {
  background-color: #ebebeb;
  color: #666;
  box-shadow: none;
  cursor: not-allowed;
}
.btn.btn--primary.btn--revert {
  background: #d1f1e6;
  color: #006442;
}
.btn.btn--primary.btn--revert .btn__spinner {
  border-color: #d1f1e6;
  border-top-color: #006442;
}
.btn.btn--primary-light {
  background: #d1f1e6;
  color: #006442;
}
.btn.btn--primary-light:hover {
  color: #003120;
}
.btn.btn--primary-light:disabled {
  background-color: #ebebeb;
  color: #666;
  box-shadow: none;
  cursor: not-allowed;
}
.btn.btn--blue {
  background: #2196f3;
  color: #fff;
}
.btn.btn--blue:hover {
  color: #fff;
}
.btn.btn--blue:disabled {
  background-color: #ebebeb;
  color: #666;
  box-shadow: none;
  cursor: not-allowed;
}
.btn.btn--blue.btn--shadow {
  box-shadow: 0 3px 4px 0 #9acffa;
}
.btn.btn--blue-light {
  background: rgba(33, 150, 243, 0.15);
  color: #0a6ebd;
}
.btn.btn--blue-light:hover {
  color: #08528d;
}
.btn.btn--red {
  background: rgba(244, 67, 54, 0.2);
  color: #da314b;
}
.btn.btn--red-hover:hover {
  background: #da314b;
  color: #fff;
}
.btn.btn--red-dark {
  background: #da314b;
  color: #fff;
}
.btn.btn--red-dark-hover:hover {
  background: #da314b;
  color: #fff;
}
.btn.btn--red-dark.btn--shadow {
  box-shadow: 0 3px 4px 0 #ed9da9;
}
.btn.btn--yellow {
  background: #f9b949;
  color: #7b4f00;
}
.btn.btn--yellow:disabled {
  background-color: #ebebeb;
  color: #666;
  box-shadow: none;
  cursor: not-allowed;
}
.btn.btn--square {
  width: 40px;
  height: 40px;
  padding: 0;
  justify-content: center;
}
.btn.btn--square .btn__icon {
  margin-left: 0;
}
.btn.btn--circle {
  width: 40px;
  height: 40px;
  padding: 0;
  justify-content: center;
  border-radius: 100px;
}
.btn.btn--border-circle {
  border-radius: 100px;
}
.btn .icon {
  line-height: 1;
}
.btn .btn__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: -10px;
  flex-shrink: 0;
}
.btn .btn__icon.btn__icon--fill polyline,
.btn .btn__icon.btn__icon--fill path,
.btn .btn__icon.btn__icon--fill circle,
.btn .btn__icon.btn__icon--fill rect {
  fill: currentColor;
  stroke: none;
}
.btn .btn__icon svg {
  height: 45%;
  width: 14px;
}
.btn .btn__icon + .btn__text {
  margin-left: 10px;
}
.btn .btn__text + .btn__icon {
  margin-left: 10px;
}
.btn .btn__spinner {
  position: relative;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin: 10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner 0.8s linear infinite;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
