<div class="page">

  <!-- <mat-grid-list class="page__header" cols="12" rowHeight="1:1">
    <mat-grid-tile [colspan]="12" [rowspan]="1">
      <span class="page__header-badge">Бесплатно</span>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="12" [rowspan]="1">
      <h1 class="page__header-title">Профессиональные счета - это просто.</h1>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="12" [rowspan]="1">
      <p class="page__header-text">Любой бизнес хочет выглядеть профессионально в своем роде деятельности и мгновенная генерация счетов позволяет это делать. Особенно когда это - бесплатно!</p>
    </mat-grid-tile>
  </mat-grid-list> -->

  <main 
    #invoice
    class="page__body invoice">

    <!-- Invoice create -->
    <data-invoice-creater></data-invoice-creater>

    <!-- Invoice table -->
    <!-- <data-invoice-table></data-invoice-table> -->

  </main>

  <!-- <div class="page__content page-gen">
    <mat-grid-list cols="12" rowHeight="2:1">
      <mat-grid-tile [colspan]="12" [rowspan]="1">
        
      </mat-grid-tile>
      <mat-grid-tile [colspan]="6" [rowspan]="1">2</mat-grid-tile>
      <mat-grid-tile [colspan]="6" [rowspan]="1">3</mat-grid-tile>
      <mat-grid-tile [colspan]="12" [rowspan]="1">4</mat-grid-tile>
    </mat-grid-list>
  </div> -->
</div>

<!-- Generate PDF -->
<mat-grid-list cols="12" rowHeight="2:1">
  <mat-grid-tile [colspan]="12" [rowspan]="1">
    <button class="btn btn--primary" (click)="generateHtmlPdf()">Сгенерировать PDF счет сейчас</button>
  </mat-grid-tile>
</mat-grid-list>
