<section class="creater">

  <!-- Editor -->
  <form [formGroup]="form" class="panel creater__editor">

    <!-- Header -->
    <div class="panel__split">
      <p class="panel__split-text">Контрагент</p>
    </div>
    <div class="row">
      <div class="col">
        <fb-field type="text" label="УНП контрагента" [control]="f.UNP" formControlName="UNP"
          (ngModelChange)="getCompanyInfo()">
        </fb-field>
      </div>
      <div class="col">
        <fb-field type="text" label="Дата создания" [control]="f.createDate" formControlName="createDate" [readonly]="true">
        </fb-field>
      </div>
    </div>

    <!-- Company -->
    <section *ngIf="customerInfo">
      <div class="panel__split">
        <p class="panel__split-text">Информация</p>
      </div>
      <div class="row">
        <div class="col">
          <h5 *ngIf="customerInfo.TP === 2">{{customerInfo?.VSN}}</h5>
          <h5 *ngIf="customerInfo.TP === 1">{{customerInfo?.VFN}}</h5>
          
          <p>Дата регистрации: {{customerInfo?.DC | date:'dd.MM.yyyy'}} года</p>
          <p>Статус: {{customerInfo?.VS}}</p>
          <p>Регистрирующий орган: {{customerInfo?.VU}}</p>
          <!-- {{customerInfo | json}} -->
        </div>
      </div>
    </section>

    <!-- Bank -->
    <section formGroupName="bank">
      <div class="panel__split">
        <p class="panel__split-text">Данные банка</p>
      </div>
      <div class="row">
        <div class="col">
          <fb-field 
            type="text" 
            label="БИК номер" 
            [control]="f.createDate" 
            formControlName="BIC">
          </fb-field>
          <fb-field 
            type="text" 
            label="Расчетный счет" 
            [control]="f.createDate" 
            formControlName="SWIFT">
          </fb-field>
        </div>
        <div class="col">
          <fb-field 
            type="text" 
            label="Наименование банка" 
            [control]="fb.name" 
            formControlName="name">
          </fb-field>
          <fb-field 
            type="text" 
            label="Адрес банка" 
            [control]="fb.name" 
            formControlName="name">
          </fb-field>
        </div>
      </div>
    </section>
  </form>





  <!-- Aside -->
  <aside class="creater__aside">

    <div class="creater__aside-group">
      <button 
        class="btn btn--primary creater__btn creater__btn--primary" 
        type="button" 
        [disabled]="checkAddCustomer()"
        (click)="addCustomer()">
        Добавить
      </button>
    </div>
    <div class="creater__aside-group">
      <!-- <fb-toggle label="Ограничить действие счета" [(ngModel)]="paymentOptions.showEndDate"
        (ngModelChange)="changePaymentOptions()">
      </fb-toggle> -->

      <!-- <fb-toggle label="Включить НДС" [(ngModel)]="paymentOptions.showTax" (ngModelChange)="changePaymentOptions()">
      </fb-toggle> -->
    </div>
  </aside>
</section>
