<section class="creater">
  
  <!-- Editor -->
  <div class="creater__editor">
    <form 
      [formGroup]="form"
      (ngSubmit)="save()"
      *ngIf="form">

      <!-- Header -->
      <div class="creater__editor-header">
        <fb-field
          type="text"
          label="Номер счета"
          [control]="f.number"
          formControlName="number">
        </fb-field>

        <div>
          <fb-field
            type="text"
            label="Дата создания"
            [control]="f.startDate"
            formControlName="startDate">
          </fb-field>
    
          <fb-field
            *ngIf="paymentOptions.showEndDate"
            type="text"
            label="Дата окончания"
            [control]="f.expiredDate"
            formControlName="expiredDate">
          </fb-field>
        </div>
      </div>
      
      <!-- Company -->
      <!-- <div class="creater__editor-company">
        Company
      </div> -->
      
      <!-- Bills -->
      <div class="creater__editor-bill">
        <div class="creater__editor-bill-block">
          <fb-field
            type="text"
            label="Заказчик"
            [control]="f.expiredDate"
            formControlName="expiredDate">
          </fb-field>
        </div>
        <div class="creater__editor-bill-block">
          <fb-field
            type="text"
            label="Ваши реквизиты"
            fit="full"
            [control]="f.expiredDate"
            formControlName="expiredDate">
          </fb-field>
        </div>
      </div>
    </form>

    <!-- Table -->
    <div class="creater__editor-table">
      <table class="table table--create">
        <thead>
          <tr>
            <th></th>
            <th>Наименование товара</th>
            <th>Измерение</th>
            <th>Количество</th>
            <th>Цена (руб.)</th>
            <th>НДС</th>
            <th>Сумма</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of invoiceService; let i = index">
            <td>
              <!-- {{i+1}} -->
              <fb-button
                type="button"
                icon="trash-2"
                color="white"
                size="sm"
                (click)="removeRow(i)">
              </fb-button>
            </td>
            <td>
              <input 
                class="input"
                [(ngModel)]="item.name"
                [typeahead]="serviceList"
                [adaptivePosition]="true"
                typeaheadOptionField="name"
                [typeaheadOptionsLimit]="7"
                [typeaheadMinLength]="0"
                typeaheadGroupField="groupName"
                container="body"
                [typeaheadItemTemplate]="serviceItemTemplate"
                (typeaheadOnSelect)="typeaheadOnSelect($event, i)"
                >
            </td>
            <td>
              <input 
                class="input input--short"
                type="text"
                [(ngModel)]="item.unit.shortName"
                *ngIf="item._isSelected"
                disabled>
              <!-- {{item?.unit?.shortName}} -->
            </td>
            <td>
              <input 
                class="input"
                type="number"
                *ngIf="item?._isSelected"
                [(ngModel)]="item.count">
            </td>
            <td>
              <input 
                class="input"
                type="number"
                *ngIf="item._isSelected"
                [(ngModel)]="item.price">
              <!-- {{item?.price}} -->
            </td>
            <td>
              <input 
                class="input"
                type="number"
                *ngIf="item?._isSelected"
                [(ngModel)]="item.tax"
                disabled>
              <!-- {{item?.tax}} -->
            </td>
            <td>
              <span *ngIf="item?.count && item?.price">{{item?.count * item?.price | number}}</span>
            </td>
          </tr>
          <tr>
            <td colspan="7">
              <fb-button
                type="button"
                color="primary"
                size="sm"
                text="Добавить"
                (click)="addNewService()">
              </fb-button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="6" align="right">Итого:</td>
            <td>{{getSummValue() | number}}</td>
          </tr>
          <tr>
            <td colspan="6" align="right">Итого c НДС:</td>
            <td>-</td>
          </tr>
        </tfoot>
      </table>
    </div>
    
    <!-- Total -->
    <!-- <div class="creater__editor-total">Total</div> -->
    
    <!-- Footer -->
    <!-- <div class="creater__editor-footer">
      Счет сгенерирован через сервис «Встройке.бел - счета»
    </div> -->

    <!-- <div>
      <fb-field
        type="text"
        label="Итого"
        fit="full"
        [control]="f.total"
        formControlName="total">
      </fb-field>
    </div> -->
    <!-- <section>
      <p>{{'12345' | summToString}}</p>
      <p>{{f.total.value | summToString}}</p>
    </section> -->
  </div>
  




  <!-- Aside -->
  <aside class="creater__aside">

    <div class="creater__aside-group">
      <button 
        class="btn btn--primary creater__btn creater__btn--primary" 
        type="button"
        [disabled]="form.invalid">
        Отправить счёт
      </button>
    </div>
    <div class="creater__aside-group">
      <fb-toggle
        label="Ограничить действие счета"
        [(ngModel)]="paymentOptions.showEndDate"
        (ngModelChange)="changePaymentOptions()">
      </fb-toggle>

      <fb-toggle
        label="Включить НДС"
        [(ngModel)]="paymentOptions.showTax"
        (ngModelChange)="changePaymentOptions()">
      </fb-toggle>
      
      <!-- <input 
        type="checkbox" 
        class="checkbox" 
        id="showEndDate" 
        [(ngModel)]="paymentOptions.showEndDate"
        (ngModelChange)="changePaymentOptions()">
      <label for="showEndDate">Ограничить действие счета</label> -->
    </div>
    <!-- <div class="creater__aside-group">
      <div class="btn-group">
        <button class="btn" type="button">
          Предпросмотр
        </button>
        <button class="btn" type="button">
          Скачать
        </button>
      </div>
    </div> -->
  </aside>
</section>


<!-- --------- -->
<!-- Templates -->
<!-- --------- -->

<ng-template #serviceItemTemplate let-model="item" let-index="index">
  <div class="tmp">
    <p class="tmp__name">{{model.name}}</p>
    <p class="tmp__desc">{{model.desc}}</p>
  </div>
  <!-- <h5>This is: {{model | json}} Index: {{ index }}</h5> -->
</ng-template>