<nav class="top-menu">
  <div class="container">
    <div class="top-menu__body">
      <img class="top-menu__logo" src="/assets/svg/logo.svg" alt="">
      <ng-container *ngIf="user | async as user; else loginBlock">
        <!-- Menu -->
        <ul class="top-menu__menu">
          <li class="top-menu__menu-item">
            <a class="top-menu__menu-link" [routerLink]="['/customer']" routerLinkActive="active">Контрагенты</a>
          </li>
          <li class="top-menu__menu-item">
            <a class="top-menu__menu-link" [routerLink]="['/contract']" routerLinkActive="active">Договора</a>
          </li>
          <li class="top-menu__menu-item">
            <a class="top-menu__menu-link" [routerLink]="['/invoice']" routerLinkActive="active">Счета</a>
          </li>
          <li class="top-menu__menu-item">
            <a class="top-menu__menu-link" [routerLink]="['/act']" routerLinkActive="active">Акты</a>
          </li>
        </ul>
  
        <!-- User -->
        <div class="top-menu__user">
          <img class="top-menu__user-avatar" [src]="user.photoURL" alt="">
          <div>
            <p class="top-menu__user-name">{{user?.displayName}}</p>
            <p class="top-menu__user-email">{{user?.email}}</p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>


  <ng-template #loginBlock>
    <ul class="top-menu__menu">
      <li class="top-menu__menu-item">
        <a class="top-menu__menu-link" [routerLink]="['/customer']" routerLinkActive="active">Что дает сервис?</a>
      </li>
    </ul>
    <button class="btn btn--primary" type="button" (click)="logout()">Войти</button>
  </ng-template>
</nav>