.table {
  width: 100%;
}
.table thead {
  background-color: #f8f8f8;
}
.table thead th {
  border: none;
  color: #9299a2;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.2rem;
}
.table tbody tr + tr {
  border-top: 1px solid #e0e6ef;
}
.table tbody td {
  border: none;
  color: #262829;
  font-size: 0.95rem;
  line-height: 1.2rem;
  font-weight: 400;
  padding: 5px 15px;
  vertical-align: middle;
}
